# Flask and Web Server
Flask==3.0.3
gunicorn==21.2.0

# Data Processing
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5
XlsxWriter==3.2.0

# Database
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9

# Background Jobs (Redis Queue)
rq==1.16.0
redis==5.0.4

# Google Drive Integration
google-api-python-client==2.136.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
cryptography==42.0.8

# Utilities
python-dotenv==1.0.1
python-calamine

Flask-Mail
razorpay



